<h1>Would you like to work together?</h1>
<hr>

<div class="row">
  <div class="col-md-6">

    <address>
      <strong>Office Address</strong>
      <br> 1234 Nowhere St. Suite The Batcave
      <br> Gotham City, NY 45450
    </address>

    <address>
      <strong>Phone</strong>
      <br>
      <%= number_to_phone "8005555555"%>
        <br>
        <strong>Email</strong><br> 
        <a href="mailto: dr000w@gmail.com?subject=PortfolioContact" "email me">Email us</a>
    </address>
    <p>
    
    </p>

  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3626.2440434377054!2d-73.97668977641925!3d40.77865388479286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588e7d325121%3A0x505d79b92e16a75e!2sNew-York+Historical+Society!5e0!3m2!1sen!2sus!4v1508789711579" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>